$primary: whitesmoke;
$secondary: #303c6c;
$titr: #b4dfe5;
$cart_count: red;
$icon-cart: white;
$item_border: #e6e6e6;
$box_shadow: #b3b3b3;
$modal_backdrop: rgba(0, 0, 0, 0.6);
$sticky_menu: midnightblue;
$blue: #03045e;
$eng-text: #6c757d;
$white: #f8f8ff;
$big_fontsize: 30px;
$medium_fontsize: 17px;

@import url("assets/font/Vazir/Vazirmatn-font-face.css");

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: $primary;
  direction: rtl;
  font-family: Vazirmatn;
  margin: 0;
  
}
.menu {
  display: flex;
  flex-direction: column;
}
.menubar {
  height: 100px;
  background-color: $secondary;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0px;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}
.web_name {
  color: $titr;
  font-weight: bolder;
  font-size: 40px;
}
.icon {
  position: relative;
  font-size: xx-large;
  color: $titr;
  background-color: $secondary;
  .cart_count {
    @include flex();
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    background: $cart_count;
    color: $icon-cart;
    height: 17px;
    width: 15px;
    bottom: 10px;
    right: 0;
  }
}
.icon_menu {
  color: $titr;
  font-weight: bolder;
  font-size: 40px;
}
.shopping_cart {
  padding-left: 40px;
}
.shopping_cart_text {
  color: $secondary;
  font-size: 18px;
  line-break: anywhere;
  margin-left: 20px;
}
.input_number {
  text-align: center;
  color: $secondary;
  border: 2px solid ;
  width: 50px;
  height: 35px;
  font-size: small;
}
.text {
  @include flex();
  color: $secondary;
  font-size: large;
}
.description {
  @include flex();
  flex-direction: column;
}
@media only screen and (max-width: 480px) {
  .item {
    width: 100%;
  }

  .cart_item {
    @include flex();
    flex-direction: column;
  }
}
@media only screen and (max-width: 550px) {
  .web_name {
    display: none;
  }
  .responsive {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .item {
    width: 40%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .item {
    width: 30%;
  }
}

@media only screen and (min-width: 1280px) {
  .item {
    width: 22%;
  }
}
.drowdown_menu_icon {
  color: $titr;
  background-color: $secondary;
  font-size: xx-large;
}
.dropdown_icon {
  color: $secondary;
}

.btn-link {
  &:hover {
    text-decoration: none;
  }
}
.shopping_cart {
  .btn {
    background-color: $secondary;
    border: $secondary;
    border: 0px solid $secondary;
    color: white;

    &:focus {
      box-shadow: o o o o $secondary;
    }
  }
}

.shopping_cart_button {
  @include flex();
}
.btn-primary{
  color: white !important;
}

.btn-primary:active {
  box-shadow: o o o o $secondary;
}

.submit-button {
  margin-right: 45%;
  font-size: large;
  padding: 20px 30px;
}

.cart-icon- {
  &:active {
    background-color: transparent !important;
    border: 0px !important;
    box-shadow: none !important;
  }
  &:focus {
    background-color: transparent !important;
    border: 0px !important;
    box-shadow: none !important;
  }
}
.footer-style {
  background-color: $item_border;
}
.footer-icon {
  font-size: 80px;
}
.modal-body{
 
  height: 500px;
}
.modal-content{
  width: 650px;
}
.modaltext{
  color: $secondary;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}
.modaltext2{
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  color: $item_border;
}
.navbar {
  overflow: hidden;
  background-color: $titr; 
  position: unset;
  display: flex ;
  flex-wrap: wrap ;
  align-items: center ;
  justify-content:flex-start;
  padding: 0pt;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: $secondary;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: $secondary;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: $item_border;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: $item_border;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: right;
  color: $secondary;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
.btn-outline-primary{
  color: $titr;
  border-color: $titr;
}

.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
/* ============ mobile view .end// ============ */


.dropbtn {
  background-color: $item_border;
  color: $secondary;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  top: 58px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
  color: $secondary;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  background-color: #ddd;
  width: 100%;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #eee;
}
.card{
  .card-img-top{
    height: 250px;
  }
}
