@import url("../font/Vazir/Vazirmatn-font-face.css");
body {
  background-color: #303c6c;
    direction: rtl;
  font-family: Vazirmatn;
  font-size: 1.6rem;
  color: #2b3e51;
}

h2 {
  font-weight: 300;
  text-align: center;
  color: #303c6c;
}

p {
  position: relative;
}

a,
a:link,
a:visited,
a:active {
  color: #303c6c;
  transition: all 0.2s ease;
}

a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #303c6c;
  transition: all 0.2s ease;
}

#login-form-wrap {
  background-color: #fff;
  width: 35%;
  margin: 120px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 15px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
  padding: 40px 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 80px;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  padding: 20px;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}

input[type=text]:focus,
input[type=password]:focus {
  border-color: #303c6c;
}

input[type=text]:focus:invalid,
input[type=password]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}

input[type=text]:valid ~ .validation,
input[type=password]:valid ~ .validation {
  display: block;
  border-color: #0C0;
}

input[type=text]:valid ~ .validation span,
input[type=password]:valid ~ .validation span {
  background: #0C0;
  position: absolute;
  border-radius: 6px;
}

input[type=text]:valid ~ .validation span:first-child,
input[type=password]:valid ~ .validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  transform: rotate(-45deg);
}

input[type=text]:valid ~ .validation span:last-child,
input[type=password]:valid ~ .validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  transform: rotate(45deg);
}

.validation {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

input[type=submit] {
  border: none;
  display: block;
  background-color: #303c6c;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #303c6c;
  transition: all 0.2s ease;
}
.submit-login{
  border: none;
  display: block;
  padding: 20px;
  border-radius: 40px;
  width: 440px;
  background-color: #303c6c;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.close-modal-login{
  padding-right: 170px;
}

#create-account-wrap {
  background-color: #e5e5e5;
  color: #6b705c;
  font-size: 18px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}/*# sourceMappingURL=login.css.map */
