$primary: whitesmoke;
$secondary: #303c6c;
$titr: #b4dfe5;
$cart_count: red;
$icon-cart: white;
$item_border: #e6e6e6;
$box_shadow: #b3b3b3;
$modal_backdrop: rgba(0, 0, 0, 0.6);
$sticky_menu: midnightblue;
$blue: #03045e;
$eng-text: #6c757d;
$white: #f8f8ff;
$big_fontsize: 30px;
$medium_fontsize: 17px;

@import url("assets/font/Vazir/Vazirmatn-font-face.css");

  
body {
  background-color: $icon-cart;
  font-family: Vazirmatn;
}

.menu {
    display: flex;
    flex-direction: column;
  }
  .menubar {
    height: 100px;
    background-color: $secondary;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
  }
  .logo {
    width: 70px;
    height: 70px;
    border-radius: 50px;
  }
  .web_name {
    color: $titr;
    font-weight: bolder;
    font-size: 40px;
  }
  .icon {
    position: relative;
    font-size: xx-large;
    color: $titr;
    background-color: $secondary;
    .cart_count {
      @include flex();
      position: absolute;
      border-radius: 50%;
      font-size: 12px;
      background: $cart_count;
      color: $icon-cart;
      height: 17px;
      width: 15px;
      bottom: 10px;
      right: 0;
    }
  }
  .icon_menu {
    color: $titr;
    font-weight: bolder;
    font-size: 40px;
  }
  .drowdown_menu_icon {
    color: $titr;
    background-color: $secondary;
    font-size: xx-large;
  }
  .dropdown_icon {
    color: $secondary;
  }
  
  .btn-link {
    &:hover {
      text-decoration: none;
    }
  }
  .shopping_cart {
    .btn {
      background-color: $secondary;
      border: $secondary;
      border: 0px solid $secondary;
  
      &:focus {
        box-shadow: o o o o $secondary;
      }
    }
  }
  
  .shopping_cart_button {
    @include flex();
  }
  
  .btn-primary:active {
    box-shadow: o o o o $secondary;
  }
  
  .submit-button {
    margin-right: 45%;
    font-size: large;
    padding: 20px 30px;
  }

@media only screen and (max-width: 480px) {
  .comment {
    text-align: justify;
  }
}
@media only screen and (min-width: 481px) {
  .comment {
    min-width: 470px;
  }
}
@media only screen and (min-width: 581px) {
  .comment {
    min-width: 570px;
  }
}
@media only screen and (min-width: 681px) {
  .comment {
    min-width: 670px;
  }
}
@media only screen and (min-width: 781px) {
  .comment {
    min-width: 770px;
  }
}
@media only screen and (min-width: 881px) {
  .comment {
    min-width: 870px;
  }
}
@media only screen and (min-width: 981px) {
  .comment {
    min-width: 970px;
  }
}

@media only screen and (min-width: 1280px) {
  .comment {
    min-width: 1100px;
  }
}
.product_img {
  height: 400px;
  width: 400px;
  border-radius: 85px;
}
.product_summary {
  display: flex;
  justify-content: center;
  border: 1px $item_border solid;

  border-radius: 15px;
}
.description_product {
  display: flex;
  flex-direction: column;
}
.title_product {
  color: $secondary;
  font-size: 24px;
  font-weight: bolder;
}
.text_eng {
  font-size: medium;
  padding-top: 0%;
  color: $eng-text;
}
.product_feature h1 {
  color: $secondary;
  font-weight: bolder;
  padding-right: 5px;
  font-size: 30px;
}

.feature_list {
  display: flex;
  line-height: 10%;
  color: $eng-text;
  font-weight: bold;
  font-size: medium;
  align-items: center;
}
.text {
  color: $secondary;
  font-weight: bold;
  padding-right: 5px;
  font-size: large;
}
.Specification_table {
  border: 1px $item_border solid;

  height: auto;
  width: 300px;
  display: flex;
  align-items: center;
  margin-right: 40px;
  background-color: $white;
  justify-content: center;
  border-radius: 15px;
}

.product_text {
  padding-right: 5px;
  color: $secondary;
  font-size: 18px;
}
.product_features {
  i {
    @extend .product_text;
  }
}

.Specification_item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.button_cart {
  color: $titr;
  font-size: $medium_fontsize;
  font-weight: bold;
  border-radius: 20px;
  padding: 7px;
  height: 45px;
  border: 2px solid $secondary;
  background-color: $secondary;
  cursor: pointer;
  font-family: sahel;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
    padding: 0 20px;
    background-color: $blue;
    border-radius: 30px;
  }
}
.button {
  display: flex;
  justify-content: center;
  i {
    color: $titr;
    margin: 0%;
  }
}
.cart-icon- {
    &:active {
      background-color: transparent !important;
      border: 0px !important;
      box-shadow: none !important;
    }
    &:focus {
      background-color: transparent !important;
      border: 0px !important;
      box-shadow: none !important;
    }
  }
  .footer-style {
    background-color: $item_border;
  }
  .footer-icon {
    font-size: 80px;
  }


