@import url("assets/font/Vazir/Vazirmatn-font-face.css");
body {
  background-color: white;
  font-family: Vazirmatn;
}

@media only screen and (max-width: 480px) {
  .comment {
    text-align: justify;
  }
}
@media only screen and (min-width: 481px) {
  .comment {
    min-width: 470px;
  }
}
@media only screen and (min-width: 581px) {
  .comment {
    min-width: 570px;
  }
}
@media only screen and (min-width: 681px) {
  .comment {
    min-width: 670px;
  }
}
@media only screen and (min-width: 781px) {
  .comment {
    min-width: 770px;
  }
}
@media only screen and (min-width: 881px) {
  .comment {
    min-width: 870px;
  }
}
@media only screen and (min-width: 981px) {
  .comment {
    min-width: 970px;
  }
}
@media only screen and (min-width: 1280px) {
  .comment {
    min-width: 1100px;
  }
}
.product_img {
  height: 362px;
  width: 400px;
  border-radius: 85px;
  margin-top: 20px;
  
}

.product_summary {
  display: flex;
  justify-content: center;
  border: 1px #e6e6e6 solid;
  border-radius: 15px;
  padding-bottom: 20px;
}

.description_product {
  display: flex;
  flex-direction: column;
}

.title_product {
  color: #303c6c;
  font-size: 24px;
  font-weight: bolder;
}

.text_eng {
  font-size: medium;
  padding-top: 0%;
  color: #6c757d;
}

.product_feature h1 {
  color: #303c6c;
  font-weight: bolder;
  padding-right: 5px;
  font-size: 30px;
}

.feature_list {
  display: flex;
  line-height: 10%;
  color: #6c757d;
  font-weight: bold;
  font-size: medium;
  align-items: center;
}

.text {
  color: #303c6c;
  font-weight: bold;
  padding-right: 5px;
  font-size: large;
}

.Specification_table {
  border: 1px #e6e6e6 solid;
  height: auto;
  width: 300px;
  display: flex;
  align-items: center;
  margin-right: 40px;
  background-color: #f8f8ff;
  justify-content: center;
  border-radius: 15px;
  padding-bottom: 500px;
}
.product_features{
  padding-bottom: 75px;;
}

.product_text, .product_features i {
  text-align: center;
  padding-right: 5px;
  color: #303c6c;
  font-size: 18px;
}

.Specification_item {

  padding-bottom: 5px;
}

.button_cart {
  color: #b4dfe5;
  font-size: 17px;
  font-weight: bold;
  border-radius: 20px;
  padding: 7px;
  height: 45px;
  border: 2px solid #303c6c;
  background-color: #303c6c;
  cursor: pointer;
  font-family: sahel;
  transition: 0.5s;
}
.button_cart:hover {
  transform: scale(1.1);
  padding: 0 20px;
  background-color: #03045e;
  border-radius: 30px;
}

.button {
  display: flex;
  justify-content: center;
}
.Specification_table{
  text-align: center;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



.button i {
  color: #b4dfe5;
  margin: 0%;
}/*# sourceMappingURL=product_details.css.map */